<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="club.xdzn.lab.core.mapper.DiscussionReportMapper">

    <resultMap id="BaseResultMap" type="club.xdzn.lab.common.entity.discussion.DiscussionReport">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="did" column="did" jdbcType="INTEGER"/>
            <result property="reporter" column="reporter" jdbcType="VARCHAR"/>
            <result property="content" column="content" jdbcType="VARCHAR"/>
            <result property="status" column="status" jdbcType="TINYINT"/>
            <result property="gmtCreate" column="gmt_create" jdbcType="TIMESTAMP"/>
            <result property="gmtModified" column="gmt_modified" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,did,reporter,
        content,status,gmt_create,
        gmt_modified
    </sql>
</mapper>
