<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="club.xdzn.lab.core.mapper.UserInfoMapper">

    <resultMap id="BaseResultMap" type="club.xdzn.lab.common.entity.user.UserInfo">
            <id property="uuid" column="uuid" jdbcType="VARCHAR"/>
            <result property="username" column="username" jdbcType="VARCHAR"/>
            <result property="password" column="password" jdbcType="VARCHAR"/>
            <result property="nickname" column="nickname" jdbcType="VARCHAR"/>
            <result property="school" column="school" jdbcType="VARCHAR"/>
            <result property="course" column="course" jdbcType="VARCHAR"/>
            <result property="number" column="number" jdbcType="VARCHAR"/>
            <result property="realname" column="realname" jdbcType="VARCHAR"/>
            <result property="email" column="email" jdbcType="VARCHAR"/>
            <result property="gender" column="gender" jdbcType="VARCHAR"/>
            <result property="avatar" column="avatar" jdbcType="VARCHAR"/>
            <result property="signature" column="signature" jdbcType="VARCHAR"/>
            <result property="blog" column="blog" jdbcType="VARCHAR"/>
            <result property="github" column="github" jdbcType="VARCHAR"/>
            <result property="titleName" column="title_name" jdbcType="VARCHAR"/>
            <result property="titleColor" column="title_color" jdbcType="VARCHAR"/>
            <result property="status" column="status" jdbcType="TINYINT"/>
            <result property="gmtCreate" column="gmt_create" jdbcType="TIMESTAMP"/>
            <result property="gmtModified" column="gmt_modified" jdbcType="TIMESTAMP"/>
            <result property="createBy" column="create_by" jdbcType="VARCHAR"/>
            <result property="updateBy" column="update_by" jdbcType="VARCHAR"/>
            <result property="isDeleted" column="is_deleted" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        uuid,username,password,
        nickname,school,course,
        number,realname,email,
        gender,avatar,signature,blog,github,
        title_name,title_color,status,
        gmt_create,gmt_modified,create_by,
        update_by,is_deleted
    </sql>
</mapper>
